@import '../../../sass/vars';
@import '../../../sass/fonts'; 

.cartWidget-container-link{
    text-decoration: none;
    
    .cartWidget-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: $fontParagraph;
        
        #cart g {
            color: $shadowColor;
            
        }
        
        #cart {
            background-color: $colorLinkHovered;
            border-radius: 20%;
                    text-decoration: none;
            
        }
    }
}


