@import '../../sass/fonts';
@import '../../sass/vars';

.cartContainer{
    height: 100vh;
    .cartContainer-noItems-h1 {
        font-family: $fontTitle;
        color: $fontColor;
        justify-content: center;
    }
}