@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Lobster&display=swap');
$fontTitle:  'Alfa Slab One', cursive;
$fontColor: #fff;
$fontParagraph: 'Anton', sans-serif;