@import "../../sass/vars";
@import "../../sass/fonts";

.cardItemDetail {
  height: 40em;
  width: 100%;
  border: transparent;
  border-bottom-left-radius: 11%;
  border-top-left-radius: 11%;
  display: flex;
  flex-direction: row;
  columns: 12;
  align-items: flex-start;
}

.cardItemDetail-img {
  display: flex;
  flex-direction: row;
  columns: 6;
  border-bottom-left-radius: 11%;
  border-top-left-radius: 11%;
  width: 35em;
  height: 40em;
}

.cardItemDetail-body {
  position: relative;
  height: 40em;
  display: flex;
  flex-direction: column;
  columns: 6;
  justify-content: center;
}

.cardItemDetail-body::before {
  content: " ";
  background:linear-gradient(rgba(255, 255, 255, 0.341), rgba(255, 255, 255, 0.341)), url(https://res.cloudinary.com/dwyqyqadz/image/upload/v1663028471/Images/coffeeholics/granos-cafe-cover_udly99.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.82;
}

.cardItemDetail-title {
  position: relative;
  color: $shadowColor;
  text-align: center;
  font-size: 2em;
  font-family: $fontTitle;
  background-color: transparent;
  filter: drop-shadow(5px 3px 3px $blackColor);
}

.cardItemDetail-text,
.cardItemDetail-text-p {
  color: $colorFontParagraph;
  text-shadow: -4px -3px  $shadowTextColor;
  position: relative;
  display: flex;
  flex-direction: row;
  columns: 6;
  font-family: $fontParagraph;
  font-size: 1.7em;
  word-wrap: break-word;
  justify-content: center;
}

.cardItemDetail-counter {
  position: relative;
  display: flex;
  flex-direction: row;
  columns: 6;
  text-align: center;
  justify-content: center;
  font-family: $fontParagraph;
  font-size: 1.5em;
}
