@import "../../sass/fonts";
@import "../../sass/vars";

.loading-spinner-container {
  height: 100vh;
 justify-content: center;
  .loading-spinner {
    color: $colorFontParagraph;
    width: 10em;
    height: 10em;
  }
  .loading-spinner-h3 {
    text-align: center;
    font-size: 3em;
    font-family: $fontTitle;
    color: $colorFontParagraph;
  }
}
