@import "../../sass/fonts";
@import "../../sass/vars";
.cardItem-container {
  width: 25em;
  margin: 1em;
  transition: all 0.25s ease-in-out;   
  .productCard {
    text-decoration: none;


    .cardItem {
      display: flex;
      flex-direction: row;
      columns: 12;
      flex-wrap: wrap;
      border: transparent;
      background-color: adjust-hue(
        $color: $cardBackgroundColor,
        $degrees: 12
      );
      box-shadow: 20px 12px 2px $shadowColor; 

      .cardItem-body{
        font-family: $fontParagraph;
        color: $colorFontParagraph;
        font-size: 1.7em;
        word-wrap: break-word;
        .cardItem-title{
          text-shadow: -2.5px -2.5px $shadowTextColor;
        }
        .cardItem-text {
          text-shadow: -4px -1px $shadowTextColor;
          .cardItem-text-p {
            text-shadow: -4px -3px $shadowTextColor;
            position: relative;
            justify-content: center;
          }
        }
      }

      .cardItem-img {
        height: 12em;
        width: 12em;
        border-radius: 50%;
        justify-content: center;
        margin: 1em;
      }
    }
  }
}
.cardItem-container:hover {
  transform: scale(1.05);
  cursor: pointer;
}
