@import "../../../sass/fonts";
@import "../../../sass/vars";
.cartItem-container {
  padding: 2em;

  .cartItem-leftSide {
    margin: 1em;
    .cartItem-img {
      margin: 0em 1em 0em 0em;
      height: 22em;
      width: 25em;
    }
  }
  .cartItem-rightSide {
    justify-content: center;
    font-family: $fontTitle;
    color: $fontColor;
    margin: 0em 0em 0em 1em;
    font-size: 1.2em;
    align-items: center;
  }
  .cartItem-cantidades {
    margin: 1em;
    color: $fontColor;
    font-family: $fontParagraph;
    justify-content: center;
    align-items: center;

    .cartItem-detail {
      font-family: $fontTitle;
      color: $fontColor;
      .cartItem-detail-counter {
        align-items: center;
      }
    }
    .cartItem-cantidades-stock {
      font-family: $fontTitle;
      color: $fontColor;
    }
    .cartItem-cantidades-trashIcon{
      cursor: pointer;
    }
  }
}
