@import '../../../sass/fonts';
@import '../../../sass/vars';

.cartContainer-title{
    font-family: $fontTitle;
    color: $fontColor;
    text-shadow: $shadowColor 5px 5px 1px;
    margin: 1em;
    text-align: center;


    .cartContainer-title-keepshopingBtn{
        cursor: pointer;
        .cartContainer-title-keepshopingBtn-link{
            text-decoration: none;
            color: $fontColor;
        }
    }   
}
.cartDetail-container{
    
    .cartDetail-container-rightSide{

        text-align: center;
        .cartDetail-container-rightSide-h3{
            
            font-family: $fontTitle;
            color: $fontColor;
        }
        .cartDetail-container-rightSide-section{
            font-family: $fontTitle;
            color: $fontColor;
            
        }
    }
}